<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
	nav {
		color: white;
		padding-top: 25px;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-dark">
		<h1> New Article </h1>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/welcome"><h3 color="blue">Back To Home</h3></a>
			</li>
		</ul>
	</nav>
	<div class="container py-5">
		<form enctype="multipart/form-data" method="POST">
			{% csrf_token %}
				{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Create</button>
		</form>
	</div>
</body>